name: Development-Builds-v1
on:
  push:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: maven
      - name: Build with Maven
        run: mvn -B package
      - uses: "actions/upload-artifact@v3"
        with:
          name: "[DevBuild]-Storage"
          path: |
            ./target/Storage.jar
      - uses: jungwinter/split@v2
        id: split
        with:
          msg: ${{github.repository}}
          separator: "/"
      - name: Discord Webhook
        uses: tsickert/discord-webhook@v4.0.0
        with:
          webhook-url: ${{ secrets.WEBHOOK_URL }}
          username: "${{ steps.split.outputs._0 }}"
          embed-title: "${{ github.actor }} pushed an update for ${{ steps.split.outputs._1 }}"
          avatar-url: "https://github.com/${{ steps.split.outputs._0 }}.png"
          embed-color: "65280"
          embed-author-name: "${{ github.actor }}"
          embed-author-url: "https://github.com/${{ github.actor }}"
          embed-author-icon-url: "https://github.com/${{ github.actor }}.png"
          embed-footer-text: "Build passed and waiting to be updated"
          embed-footer-icon-url: "https://i.imgur.com/D5KVghH.png"
          embed-description: |
            ${{ github.event.head_commit.message }}


            Download: [`${{ github.run_id }}`](https://nightly.link/${{github.repository}}/actions/runs/${{ github.run_id }}/[DevBuild]-Storage.zip)
            SpigotMC: [`10051`](https://www.spigotmc.org/resources/100516/)

